<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="survey-container success-container">
    <h1 class="survey-title">Thank you!</h1>

    <p class="success-message">
        Thank you for submitting your feedback.
        We really appreciate your time.
    </p>

    <a href="/" class="btn-done">
        Submit another response
    </a>
</div>
</body>
</html>
